<!DOCTYPE html>
<html>

<head>
    <title>Registration</title>

    <style>
        body {
            background-color: #ccc;
            width: 1000px;
            margin: 0 auto;
            padding: 30px 0px;
        }

        .form {
            background-color: antiquewhite;
            width: 500px;
            margin: 100px auto;
            padding: 20px 50px;
        }
    </style>
</head>

<body>
    <div class="form">
        {% block content %}

        {% endblock %}
    </div>

</body>

</html>